.fondo{
    background: #9c6aff;
    background: linear-gradient(180deg, #333 10%, #9c6aff 90%);
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo{
    display: block;
    text-align: center;
    color: #ffffff;
    color: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    text-shadow: 1px 1px 3px #000;
    font-size: 5vw;
    margin: 130px;
    font-family: "Varela Round";
}

.titulo-registrarse{
    display: block;
    text-align: center;
    color: #ffffff;
    color: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    text-shadow: 1px 1px 3px #000;
    font-size: 5vw;
    margin: 60px;
    font-family: "Varela Round";
}

form{
    padding-left: 550px;
    margin-bottom: 80px;
    font-family: "Varela Round";
}
input{
    display: block;
    padding: 10px 20px 10px 20px;
    width: 400px;
}
button{
    background-color: #ebb52f;
    border: none;
    margin-left: 55px;
    padding: 10px 20px 10px 20px;
}

.header{
    text-align: right;
}

body{
    align-items: center;
    padding: 0px;
    margin: 0px;
    border:none;
    width: 100%;
}

.caracteristicas-evento{
    text-align: center;
    background-color: #dfb346;
    padding: 30px 25px 30px 25px;
    font-size: large;
    margin: 35px 120px 35px 120px;
    text-align: justify;
    font-family: "Varela Round";
}

.caracteristica{
    margin-top: 10px;
}

footer{
    display: inline;
}

.sub-titulos{
    margin-bottom: 100px;
}

.sub-titulo{
    display: block;
    text-align: center;
    color: #ebb52f;
    text-shadow: 1px 1px 3px #000;
    font-family: "Varela Round";
}
.nav{
    justify-content: right;
    margin: 30px 5px;
}

.nav a{
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #ebb52f;
    margin-right: 20px;
    font-family: "Varela Round";

}
.nav .redes{
    text-align: center;
    align-items: center;
    padding: 14px 11px 14px 15px;
    margin-left: 5px;
    border-radius: 3px;
}
.nav a:hover {
    background-color: #ffd415;
    color: #333;
}
.nav .action-buton {
    background-color: #7843e2;
    color: aliceblue;
}
.nav .action-buton:hover{
    background-color: #c054ff;
    color: aliceblue;
}

.contenedor{
    text-align: center;
    margin: 50px 0px 50px 0px;
}

* {
  box-sizing: border-box;
}

.contenedor-textbox {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  min-height: 380px;
}

.textbox {
  background-color: #dfb346;
  padding: 2rem;
  position: relative;
  min-width: 1200px;
}
.textbox:before {
  content: "";
  position: absolute;
  bottom: 30px;
  margin-top: -15px;
  left: -30px;
  border: solid 15px transparent;
  border-right-color: #dfb346;
  z-index: 1;
}
.textbox--border {
  position: absolute;
  border: 2px solid #8E8E8E;
  height: 100%;
  width: 100%;
  top: -6px;
  left: 6px;
  z-index: 1;
}
.textbox--border:after {
  content: "";
  position: absolute;
  bottom: 30px;
  height: 20px;
  width: 20px;
  left: -12px;
  border: 2px solid transparent;
  border-top: 2px solid #8E8E8E;
  border-left: 2px solid #8E8E8E;
  transform: rotate(-45deg);
  background-color: #dfb346;
}
.text{
    padding: 60px 0px 100px 50px;
    font-size: x-large;
    vertical-align: middle;
    width: 1120px;
    text-align: justify;
}

.footer-menu{
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    min-height: 50px;
    text-align: center;
}
.footer-menu a{
    color: #ddd;
    text-decoration: none;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
}
.footer-menu svg{
    margin: 15px 0px 0px 10px;
}
.footer-menu span{
    margin: 10px 0px 0px 5px;
}

.footer-menu a:hover{
    background-color: #ebb52f;
    color: #000;
}

.info-evento{
    background-color: #333;
    color: #ffffff;
    border: 1px solid;
    border-color: #ddd;
    text-align: center;
    margin: 0px 200px 10px 200px;
    font-family: "Varela Round";
    padding: 20px 0px 20px 0px;
    font-size: large;
    border-radius: 3px;
}
.info-evento b{
    color:#ebb52f;
}